# Backend ignores
backend/env/
backend/db.sqlite3
backend/AutoMLModeler/__pycache__/
backend/users/__pycache__/
backend/users/migrations/
backend/users/migrations/__pycache__/
backend/AutoMLModeler/*.py[cod]
backend/users/*.py[cod]

# Frontend ignores
frontend/node_modules/
frontend/dist/
frontend/*.log

# General ignores
*.log
*.env
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
